.table-container {
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 20px;
}

/* Adjusts styles for screens smaller than 650px */
@media screen and (max-width: 650px) {
     .table-container {
        max-width: 90%;
        max-height: 90%;
        margin: 0 20px 20px 20px;
    } 
}
